.globalLocation {
 
  margin: 30px auto;
  position: relative;
}
.globalIcon {
  width: 65px;
  height: 65px;
  position: absolute;
  background: linear-gradient(60deg, #66bb6a, #43a047);
  top: -18px;
  left: 40px;
}
.globalContainer {
  background-color: #fff;
  height: 500px;
  margin: auto;
  width: 95%;
  border-radius: 8px;
  display: flex;
}
.globalConainerTitle {
  margin-top: 20px;
  margin-left: 90px;
  font-size: 1.3rem;
  font-weight: 300;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: rgba(128, 128, 128, 0.952);
}
.countryList {
  list-style: none;
  margin-top: 30px;
}

.countryList li {
  display: flex;
  align-items: center;
  margin: 10px 10px;
  border-top: 1px solid rgba(153, 153, 153, 0.452);
  padding: 15px;
  font-size: 1em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
}
.countryList li img {
  padding: 0 10px;
  height: 17px;
}
.countryList li span {
  padding: 0 10px;
  display: inline-block;
  width: 90px;
  text-align: left;
}
.globalIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.globalIcon span {
  display: inline-block;
  fill: white;
  width: 30px;
}
.map {
  width: 300px;
}


@media screen and (max-width:960px){
    .globalLocation{
       width: 100%;
    }
}