.sidebarSettingIcon{
    position: absolute;
    top: 50px;
    right: 0;
    display:  flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    background-color: #5555559c;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
}
.sidebarSettingIcon span{
    width: 30px;
    display: inline-block;
    fill: white;
}